<div class="container" style="margin-top: 20px;">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6" >
        <div>
          <input type="text" [(ngModel)]="term" placeholder="Search"  class="form-control">
      </div>  
      </div>
    </div><br>
    
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Sno</th>
          <th>Applied On</th>
          <th>From</th>
          <th>To</th>
          <th>Type</th>
          <th>Status</th>
          <th>Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>1</td>
          <td>{{item.appliedOn}}</td>
          <td>{{item.from}}</td>
          <td>{{item.to}}</td>
          <td>{{item.type}}</td>
          <td>pending</td> 
          <td>
           <!-- <button class="btn btn-warning btn-sm" style="margin-right:30px" [disabled]="!state" >Edit</button>-->
            <button class="btn btn-danger btn-sm" [disabled]="!state">Delete</button>
          </td>        
        </tr>
      </tbody>
    </table>
  </div>
   
  
      
  