<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">{{currentUser.role}}</a>
        <a class="nav-item nav-link" routerLink="applyforleave" >Apply for Leave</a> 
        <a class="nav-item nav-link" routerLink="my-leaves">My Leaves</a>
        <a class="nav-item nav-link" routerLink="check-leaves">Leave record</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>


