<div class="container" style="margin-top: 20px;">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6" >
        <div>
          <input type="text" [(ngModel)]="term" placeholder="Search "  class="form-control">
      </div>  
      </div>
    </div><br>
    
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>No.</th>
          <th>Type</th>
          <th>Total</th>
          <th>Taken</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{item.sno}}</td>
          <td>{{item.type}}</td>
          <td>{{item.total}}</td>
          <td>{{item.taken}}</td>
          <td>{{item.balance}}</td>
        </tr>
      </tbody>
    </table>
  </div>
   
  
      
  